body{
    font-family: 'Poppins';
}

.carousel-section img{    /*carousel was used to target the image section instead of selcting the image class, one after another*/
    height: 430px;
}
 
.all-listings{
       height: 10rem;                         
}

.contact-form{
    width: 60vw; /*vw--view width*/
   /* border: 1px solid red;  */
}
/*For screen width of 0 t0 768px, form width should be 95vw */
@media (max-width: 768px){
    .contact-form { width:95vw; }
}


/*--FOR ABOUT.HTML-*/
.txt{
    float:right;
    width:50%;
    font-family: arial;
    font-size: 1.2em;
    }

.tr{
    width:45%; margin: 5% 3%; padding-bottom:31.9%; position:relative;
    outline:2px solid gold;
    opacity:0;
    z-index:1;

    -webkit-animation: wrap 8s infinite;
    -ms-animation: wrap 8s infinite;
    animation: wrap 8s infinite;
}

.tr:before{
    content:''; display:block; position:absolute;
    top:0; left: 0; width:100%; height: 100%; background: #0079c6;
    opacity: 0;
    z-index: -1;

    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;

    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-animation: triangle 8s infinite;
    -ms-animation: triangle 8s infinite;
    animation: triangle 8s infinite;
}

.tr:after{
    content:''; position:absolute; top:100%;
    width:160%; height:200%;
    margin-top:1px; background:#fff; opacity:0;

    -webkit-animation: hide 8s infinite;
    -ms-animation: hide 8s infinite;
    animation: hide 8s infinite;
}

.origin{
    position:absolute; bottom:0; left:0; margin:0 0 -20px -20px;
    width:20px; height:20px; border: 10px solid red; border-radius: 50%;
    z-index:2; opacity:0;

    -webkit-animation: to 8s infinite;
    -ms-animation: to 8s infinite;
    animation: to 8s infinite;
}

@keyframes wrap{
    0%  {  opacity: 0; }
    10% { opacity: 1; }
    70% { opacity: 1; outline-color:gold; }
    80% { opacity: 1; outline-color:transparent; }
    100% {opacity: 1; outline-color:transparent; }
}

@-moz-keyframes wrap {
  0% { opacity: 0; }
  10% { opacity: 1; }
  70% { opacity: 1; outline-color:gold;}
  80% { opacity: 1; outline-color:transparent; }
  100%{ opacity: 1; outline-color:transparent; }
}

@-o-keyframes wrap{
    0% { opacity: 0; }
    10% { opacity: 1; }
    70% { opacity: 1; outline-color: gold; }
    80% {opacity:  1; outline-color: transparent; }
    100% {opacity: 1; outline-color: transparent; }
}

@keyframes wrap{
    0% { opacity: 0; }
    10% { opacity:1; }
    70% { opacity: 1; outline-color: gold; }
    80% {opacity:  1; outline-color: transparent; }
    100%{opacity: 1; outline-color: transparent; }
}

@keyframes triangle {
    10% { opacity: 0; }
    20% { opacity: 1; }
    30% { opacity: 1; transform:rotate (0deg); }
    60% {opacity:  1; transform:rotate (45deg); }
    70% {opacity:  1; transform:rotate (45deg); }
    80% { opacity: 1; transform:rotate (45deg); }
    100% {opacity: 1; transform:rotate (45deg); }
}

@keyframes triangle {
    10%{ opacity: 0; }
    20% { opacity: 1; }
    30% { opacity: 1; transform:rotate (0deg); }
    60% {opacity:  1; transform:rotate (45deg); }
    70% {opacity:  1; transform:rotate (45deg); }
    80% { opacity: 1; transform:rotate (45deg); }
    100% {opacity: 1; transform:rotate (45deg); }
}

@keyframes hide{
 0%{ opacity: 0; }
 60%{opacity: 0; }
 70% {opacity: 1; }
 100% {opacity: 1; }
}

@-moz-keyframes hide{
    0%{ opacity: 0; }
    60%{opacity: 0; }
    70% {opacity: 1; }
    100% {opacity: 1; }
    }

    @-o-keyframes hide{
        0%{ opacity: 0; }
        60%{opacity: 0; }
        70% {opacity: 1; }
        100% {opacity: 1; }
       }

    @keyframes hide{
        0%{ opacity: 0; }
        60%{opacity: 0; }
        70% {opacity: 1; }
        100% {opacity: 1; }
    }

    @keyframes to{
        20% { opacity: 0; }
        30% {opacity:  1; }
        70% {opacity: 1; }
        80% {opacity: 0; }
       }

    @-moz-keyframes to{
      20% { opacity: 0; }
      30% {  opacity: 1;}
      70% {opacity: 1;} 
      80%  { opacity: 0;}      
    }

    @keyframes to{
        20%{ opacity: 0; }
        30%{opacity: 0; }
        70% {opacity: 1; }
        80% {opacity: 1; }
    }

    body,html{
        height: 100%;
    }